<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-3 mb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-8 offset-xl-2">
                <div class="card shadow">
                    <div class="card-body" style="max-width: 36rem;">
                        <img class="card-img-top img-thumbnail" src="https://images.unsplash.com/photo-1532115298834-4c70d11ec8f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div> 
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="text" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div> 
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div> 
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-dark">Register</button>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
